.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding-top: 3rem;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

/* .open-offers {
  background-color: #efefee;
} */

.token-wrapper {
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  margin-bottom: 20px;
  width: 100%;
}


h2 {
  margin-right: 10px;
}

input[type="number"] {
  width: 50px;
  height: 20px;
  margin-right: 10px;
}

button {
  width: 150px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 30px;
}

#create-offer {
  background-color: #0ca02c;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  transition: all 0.2s linear;
  cursor: pointer;
}

#create-offer:hover {
  transform: scale(1.1);

}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.connect {
  border: 2px solid #0ca02c;
  color: #0ca02c;
  height: 40px;
}
.connect:hover {
  transform: scale(1.1);
}

.connected {
  background-color: #0ca02c;
  color: #fff;
  height: 40px;
  border: none;
}
.connected:hover {
  transform: scale(1.1);
}

.left-column {
  display: flex;
  align-items: start;
  flex-direction:column;
  justify-content: flex-start;
}

.addbtn {
  border-radius: 5px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.addbtn:hover {
  transform: scale(1.1);
}

.acceptbtn {
  background: #0ca02c !important;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.acceptbtn:hover{
  scale: 1.1;
}
.cancelbtn:hover{
  scale: 1.1;
}

.cancelbtn {
  background-color: rgb(197, 33, 33) !important;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.defaultbtn {
  color: white;
  background-color: white;
}

/* .defaultbtn:hover {
  scale: 1.1;
} */

.graybtn {
  width: 1 px;
}

@media (max-width: 720px) {
  .container {
    flex-direction: column-reverse ;
    margin-left: 5%;
  }
}